body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #bfbada, #3207e0);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 400px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #3c3049;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="number"],
input[type="text"],
select {
  flex: 1;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  background-color: #6c29ab;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #2b025a;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  outline: none;
  border-color: #6b6fd5;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.conversion-history {
  margin-top: 10px;
  padding-left: 20px;
}

.conversion-history li {
  margin-bottom: 5px;
}

.show-history-button.hide {
  display: none;
}

.conversion-history-container {
  margin-top: 20px;
  position: relative;
}
